@charset "utf-8";
@import url("fonts.css");
@import url("common.css");



/* 로고 */
.logo{
	width: 40px;
	height: 40px;
}

/* header */
.dropdown-hover:hover>.dropdown-menu {
	display: inline-block;
}
.dropdown-hover>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}


/* 찾아오시는 길 텍스트 */
.list-group-item0{
	font-size: x-large;
	font-weight: bolder;
	margin-bottom: 20px;
}
.list-group-item{
	font-size: large;
}

/* map에 들어가는 이미지 크기 설정 */
.map_img{
	width: 20px;
	height: 20px;
}