<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.youngtvjobs.ycc.course.CourseMapper">
 
	<sql id="selectCourse">
		SELECT course_id, course_nm, course_image, course_reg_start_date,
		course_reg_end_date, course_start_date, course_end_date, course_day,
		course_time, course_target, course_cost, course_info, user_id,
		croom_id, course_cate_cd
		FROM tb_course
	</sql>


	<!-- 강좌 목록 보여주기 -->
	<sql id="selectFromCourse">
		SELECT
		course_id, course_nm, course_reg_start_date,
		course_reg_end_date,
		course_day, course_time, course_cost, user_name
		FROM public.tb_course
		join tb_user
		on public.tb_course.user_id = tb_user.user_id
	</sql>
	
	 <sql id="searchCondition">
		and course_nm like concat('%',#{keyword},'%')
	</sql>
	
	<select id="" >
		<include refid="selectCourse" />
		join course_type
		on course_type.course_id = tb_course.course_id
	</select>
	
	
	
	<select id="selectFromCourseType" resultType="CourseDto">
		select * from course_type
	</select>

	<select id="selectCourselist" parameterType="SearchItem" resultType="CourseDto">
		<include refid="selectFromCourse" />
		where true
		<include refid="searchCondition" />
		order by course_id
		limit #{pageSize} offset #{offset}
	</select>
  
	<select id="searchResultCnt" parameterType="SearchItem" resultType="int">
		select count(*) from tb_course
		where true 
		<include refid="searchCondition" />
    </select>
  
  	<!-- 테스트용 데이터 -->
  	<insert id="insert" parameterType="CourseDto">
  		INSERT INTO public.tb_course
		(course_id, course_nm, course_image, course_reg_start_date, course_reg_end_date, course_start_date, course_end_date, course_day, course_time, course_target, course_cost, course_info, user_id, croom_id)
		VALUES(#{course_id}, #{course_nm}, #{course_image}, #{course_reg_start_date}, #{course_reg_end_date}, #{course_start_date}, #{course_end_date}, #{course_day}, #{course_time}, #{course_target}, #{course_cost}, #{course_info}, #{user_id}, #{croom_id});
  	</insert>
  	

	
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  