<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.youngtvjobs.ycc.search.SearchMapper">
  
  <insert id="insert" parameterType="BoardDto">
	  INSERT INTO public.article
		(article_id, article_date, artilce_contents, article_board_type, user_id, article_title)
		VALUES(#{article_id}, #{article_date}, #{artilce_contents}, #{article_board_type}, #{user_id}, #{article_title});
  </insert>
  
  <sql id="selectFromArticle">
  	SELECT article_id, article_date, artilce_contents, article_board_type, user_id, article_title
	FROM public.article
  </sql>
  
  <select id="select" parameterType="String" resultType="BoardDto">
 	 <include refid="selectFromArticle" />
 	 where article_board_type = #{article_board_type}
  </select>
	
	
	
	
	
  <!-- 전체 -->
  <select id="selectAllPage" resultType="BoardDto">
	<include refid="selectFromArticle" />
	limit 5
  </select>
	
  <!-- 공지사항 -->
  <select id="selectNoticePage" resultType="BoardDto">
  	<include refid="selectFromArticle" />
  	where article_board_type = 'notice'
  	limit 5
  </select>
  
   <!-- 이벤트 -->
    <select id="selectEventPage" resultType="BoardDto">
  	<include refid="selectFromArticle" />
  	where article_board_type = 'event'
  	limit 5
  </select>
  
  
  
  
  
  <!--  
  <sql id="count"> 
  	select count(*) from article
  </sql>
  
  <select id="noticePageCnt" resultType="int">
  	<include refid="count" />
  	where article_board_type = '공지사항'
  </select>
  -->
  
  
  
  
  <!-- 	<select id="select" parameterType="String" resultType="BoardDto">
		<include refid="selectArticle" />
		where article_board_type = 'notice'
	</select> -->
  
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  