<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.youngtvjobs.ycc.admin.adminMapper" >
  
  <select id="selectAll" resultType="AdminDto">
  		select * from tb_terms
  </select>
  
  <update id="modifyterms" parameterType="AdminDto">
  	UPDATE public.tb_terms
	SET join_terms = #{join_terms }
  </update>
  
</mapper>