<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>
		<typeAlias alias="MemberDto" type="com.youngtvjobs.ycc.member.MemberDto" />
		<typeAlias alias="CourseDto" type="com.youngtvjobs.ycc.course.CourseDto" />
		<typeAlias alias="SearchItem" type="com.youngtvjobs.ycc.course.SearchItem"/>
	</typeAliases>
</configuration>